.heroSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 4rem;
  align-items: center;
  justify-content: center;
}

.contentColumn {
  width: 50%;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 600px;
  width: 100%;
}

.heading {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  line-height: 1.2;
  text-align: left;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 100%;
}

.description {
  font-size: 1.125rem;
  color: #78716c;
  line-height: 1.6;
  text-align: left;
}

.ctaButton {
  align-self: flex-start;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: #171717;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.ctaButton:hover {
  background-color: #404040;
}

.imageColumn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1.93;
  margin-top: 1rem;
}

/* RESPONSIVE STYLES */
@media (max-width: 1024px) {
  .heading {
    font-size: 3rem;
  }

  .heroSection {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    padding: 2rem 1.5rem;
    text-align: center;
  }

  .contentColumn,
  .imageColumn {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .heading {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    text-align: center;
  }

  .ctaButton {
    align-self: center;
    padding: 0.75rem 1.5rem;
  }
}
